# Packages and build artefacts
*.pkg
*.pkg.remastered.pkg
*.naps_metric.json
*.gp5
*.playgo-scenario.json
.gp5-assets/
*-build-logs/


# Game dumps and backport payloads
*.sprx
*.prx
*.esbak
eboot.bin

__pycache__/
*.pyc
fpkg-builder.rar
